<div class="card-body text-center">
    <h5 class="card-title">
        <h2 class="text-dark">{{title}}</h2>
    </h5>
    <p class="card-text">
    <p>{{city}}, {{country}}</p>
    <p>{{post_text}}</p>
    </p>
</div>