<section>
    <form class="px-4 py-3" id="newPost">
        <div class="form-group">
            <label for="postTitle">Tite</label>
            <input type="text" class="form-control" id="postTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="postBody">Description</label>
            <textarea class="form-control" id="postBody" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="postCity">City</label>
            <input type="text" class="form-control" id="postCity" placeholder="City">
        </div>
        <div class="form-group">
            <label for="postCountry">Country</label>
            <input type="text" class="form-control" id="postCountry" placeholder="Country">
        </div>
        <div class="form-group">
            <label for="postImage">Images</label>
            <input type="file" id="postImage" accept="image/png, image/jpeg">
        </div>
        <button type="submit" class="btn btn-primary">Post Blog</button>
    </form>
</section>

{{#each posts as |post|}}
<div class="card">
    {{> post-info post }}
    <a href="/post/{{id}}" class="edit-link">Edit post</a>  
  
</div>
{{/each}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>

{{!-- <button id=“editBtn”>Edit</button> --}}

