{{#if (check_user post.user_id user_id)}}

<article class="m-3">
  <a href="/dashboard" class="text-warning text-uppercase"> &larr; Back to dashboard</a>

  <h2 class="text-white text-center">
    Edit Post
  </h2>

  <section class="text-light">
  <form class="px-4 py-3 edit-post-form">
    <div class="form-group">
      <label for="postTitle">Title</label>
      <input type="text" class="form-control" id="postTitle" name="postTitle" value="{{post.title}}">
    </div>
    <div class="form-group">
      <label for="postBody">Write Your Story</label>
      <textarea class="form-control" id="postBody" name="postBody" rows="5">{{post.post_text}}</textarea>
    </div>
    <div class="form-group">
      <label for="postCity">City</label>
      <input type="text" class="form-control" id="postCity" name="postCity" value="{{post.city}}">
    </div>
    <div class="form-group">
      <label for="postCountry">Country</label>
      <input type="text" class="form-control" id="postCountry" name="postCountry" value="{{post.country}}">
    </div>
    <button type="submit" class="btn btn-light">Save</button>
    <button type="button" class="delete-post-btn btn btn-danger">Delete</button>
  </form>
  </section>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}