{{> post-info post}}

{{#check_user post.user.id user_id}}
    <button id="editBtn">Edit</button>
{{/check_user}}

{{!-- {{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}} --}}