html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -50px;
}

.push {
    height: 50px;
    padding: 65px;
}

/* Navbar container */
.navbar {
    font-family: Arial;
    padding: 14px 16px;
}
  
  /* Links inside the navbar */
.navbar a {
    font-size: 16px;
    color: white;
    text-align: right;
    text-decoration: none;
}

nav {
    border-bottom: 5px solid rgb(114, 114, 114);
}
  
footer {
    color: white;
    height: 50px;
    width: 100%;
    background-color: rgb(77, 77, 77);
    left: 0;
    bottom: 0;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer p {
    padding-top: 12px;
}

#map {
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    width: 100%;
    border-bottom: 5px solid rgb(114, 114, 114);
}

.card-hover {
    box-shadow: 0;
    transition: box-shadow .5s;
}

.card-hover:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgb(0, 0, 0);
}
textarea {
    justify-content: center;
}

section.comment {
 color: white;
}